{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="about-area">
    <div class="container">
        <div class="d-flex about-me-wrap align-items-start gap-24">
            <div data-aos="zoom-in">
                <div class="about-image-box shadow-box">
                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                    <div class="image-inner">
                        <img src="{{about_detail.profile.url}}" alt="About Me">
                    </div>
                </div>
            </div>
            <div class="about-details" data-aos="zoom-in">
                <h1 class="section-heading" data-aos="fade-up"><img src="{% static 'images/star-2.png' %}" alt="Star">
                    Self-Summary <img src="{% static 'images/star-2.png' %}" alt="Star"></h1>
                <div class="about-details-inner shadow-box">
                    <img src="{% static 'images/icon2.png' %}" alt="Star">
                    <h1>{{about_detail.name}}</h1>
                    <p>{{about_detail.description|linebreaksbr}}</p>
                </div>
            </div>
        </div>
        <div class="row mt-24">
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-edc-exp about-experience shadow-box">
                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                    <h3>EXPERIENCE</h3>
                    <ul>
                        {% if experiences %}
                        {% for experience in experiences %}
                        <li>
                            <p class="date">{{experience.year}}</p>
                            <h2>{{experience.position}}</h2>
                            <p class="type">{{experience.company}}</p>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-edc-exp about-education shadow-box">
                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                    <h3>EDUCATION</h3>
                    <ul>
                        {% if educations %}
                        {% for education in educations %}
                        <li>
                            <p class="date">{{education.year}}</p>
                            <h2>{{education.degree}}</h2>
                            <p class="type">{{education.college}}</p>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-24">
            <div class="col-md-12">
                <div class="d-flex profile-contact-credentials-wrap gap-24">
                    <div data-aos="zoom-in">
                        <div class="about-profile-box info-box shadow-box h-full">
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <div class="inner-profile-icons shadow-box">
                                <a href="#">
                                    <i class="iconoir-dribbble"></i>
                                </a>
                                <a href="#">
                                    <i class="iconoir-twitter"></i>
                                </a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>Stay With Me</h4>
                                    <h1>Profiles</h1>
                                </div>
                                <a href="{% url 'contact' %}" class="about-btn">
                                    <img src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="flex-1">
                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="{% url 'contact' %}"></a>
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <img src="{% static 'images/icon2.png' %}" alt="Icon" class="star-icon">
                            <h1>Let's <br>Work <span>Together.</span></h1>
                            <a href="{% url 'contact' %}" class="about-btn">
                                <img src="{% static 'images/icon.svg' %}" alt="Button">
                            </a>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="h-full">
                        <div class="about-crenditials-box info-box shadow-box">
                            <a class="overlay-link" href="{% url 'credentials' %}"></a>
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <img src="{% static 'images/sign.png' %}" alt="Sign">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>More About Me</h4>
                                    <h1>Credentials</h1>
                                </div>
                                <a href="{% url 'credentials' %}" class="about-btn">
                                    <img src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}