{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="credential-area">
    <div class="container">
        <div class="gx-row d-flex">
            <div class="credential-sidebar-wrap" data-aos="zoom-in">
                <div class="credential-sidebar text-center">
                    <div class="shadow-box">
                        <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                        <div class="img-box">
                            {% if credential.profile %}
                            <img src="{{credential.profile.url}}" alt="About Me">
                            {% else %}
                            <img src="{% static 'images/me.png' %}" alt="About Me">
                            {% endif %}
                        </div>
                        <h2>{{credential.name}}</h2>
                        <p>{{credential.role}}</p>
                        <ul class="social-links d-flex justify-content-center">
                            <li><a href="{{linkedin.url}}"><i class="iconoir-linkedin"></i></a></li>
                            <li><a href="{{github.url}}"><i class="iconoir-github"></i></a></li>
                            <li><a href="{{instagram.url}}"><i class="iconoir-instagram"></i></a></li>
                            <li><a href="{{facebook.url}}"><i class="iconoir-facebook-tag"></i></a></li>
                        </ul>
                        <a href="{% url 'contact' %}" class="theme-btn">Contact Me</a>
                    </div>
                </div>
            </div>
            <div class="credential-content flex-1">
                <div class="credential-about" data-aos="zoom-in">
                    <h2>About Me</h2>
                    <p>{{credential.about|linebreaksbr}}</p>
                </div>
                <div class="credential-edc-exp credential-experience">
                    <h2 data-aos="fade-up">Experience</h2>
                    {% for credential_experience in credential_experience %}
                    <div class="credential-edc-exp-item" data-aos="zoom-in">
                        <h4>{{credential_experience.year}}</h4>
                        <h3>{{credential_experience.position}}</h3>
                        <h5>{{credential_experience.company}}</h5>
                        <p>{{credential_experience.description|linebreaksbr}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="credential-edc-exp credential-education">
                    <h2 data-aos="fade-up">Education</h2>
                    {% for credential_education in credential_educations %}
                    <div class="credential-edc-exp-item" data-aos="zoom-in">
                        <h4>{{credential_education.year}}</h4>
                        <h3>{{credential_education.degree}}</h3>
                        <h5>{{credential_education.college}}</h5>
                        <p>{{credential_education.description|linebreaksbr}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="skills-wrap">
                    <h2 data-aos="fade-up">Skills</h2>
                    <div class="d-grid skill-items gap-24 flex-wrap">
                        {% for skill in skills %}
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">85%</span>
                            <h4 class="name">{{skill}}</h4>
                            <p>Non enim praesent</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="skills-wrap awards-wrap">
                    <h2 data-aos="fade-up">Certificates</h2>
                    <div class="d-grid skill-items gap-24 flex-wrap">
                        {% for certificate in certificates %}
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">{{certificate.issue_date}}</span>
                            <h4 class="name">{{certificate.name}}</h4>
                            <p>{{certificate.issuer}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}