{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-me-box shadow-box">
                    <a class="overlay-link" href="{% url 'about' %}"></a>
                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                    <div class="img-box">
                        <img src="{% static 'images/me.png' %}" alt="About Me">
                    </div>
                    <div class="infos">
                        <h4>{{about.role}}</h4>
                        <h1>{{about.name}}</h1>
                        <p>{{about.description}}</p>
                        <a href="{% url 'about' %}" class="about-btn">
                            <img src="{% static 'images/icon.svg' %}" alt="Button">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-credentials-wrap">
                    <div data-aos="zoom-in">
                        <div class="banner shadow-box">
                            <div class="marquee">
                                <div>
                                    <span>
                                        LATEST WORK AND <b>FEATURED</b> <img src="{% static 'images/star1.svg' %}" alt="Star">
                                        LATEST WORK AND <b>FEATURED</b> <img src="{% static 'images/star1.svg' %}" alt="Star">
                                        LATEST WORK AND <b>FEATURED</b> <img src="{% static 'images/star1.svg' %}" alt="Star">
                                        LATEST WORK AND <b>FEATURED</b> LATEST WORK AND <img src="{% static 'images/star1.svg' %}" alt="Star">
                                        LATEST WORK AND <b>FEATURED</b> LATEST WORK AND <img src="{% static 'images/star1.svg' %}" alt="Star">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gx-row d-flex gap-24">
                        <div data-aos="zoom-in">
                            <div class="about-crenditials-box info-box shadow-box h-full">
                                <a class="overlay-link" href="{% url 'credentials' %}"></a>
                                <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                <img src="{% static 'images/sign.png' %}" alt="Sign">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>More About Me</h4>
                                        <h1>Credentials</h1>
                                    </div>
                                    <a href="{% url 'credentials' %}" class="about-btn">
                                        <img src="{% static 'images/icon.svg' %}" alt="Button">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-aos="zoom-in">
                            <div class="about-project-box info-box shadow-box h-full">
                                <a class="overlay-link" href="{% url 'works' %}"></a>
                                <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                <img src="{% static 'images/my-works.png' %}" alt="My Works">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>SHOWCASE</h4>
                                        <h1>Projects</h1>
                                    </div>
                                    <a href="{% url 'works' %}" class="about-btn">
                                        <img src="{% static 'images/icon.svg' %}" alt="Button">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-24">
            <div class="col-md-12">
                <div class="blog-service-profile-wrap d-flex gap-24">
                    <div data-aos="zoom-in">
                        <div class="about-blog-box info-box shadow-box h-full">
                            <a href="{% url 'blog' %}" class="overlay-link"></a>
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <img src="{% static 'images/gfonts.png' %}" alt="Blogs">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>Project Blog</h4>
                                    <h1>Blogs</h1>
                                </div>
                                <a href="{% url 'blog' %}" class="about-btn">
                                    <img src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="flex-1">
                        <div class="about-services-box info-box shadow-box h-full">
                            <a href="{% url 'specialization' %}" class="overlay-link"></a>
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <div class="icon-boxes">
                                <i class="iconoir-developer"></i>
                                <i class="iconoir-code"></i>
                                <i class="iconoir-dev-mode-phone"></i>
                                <i class="iconoir-dev-mode-laptop"></i>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>Specialization</h4>
                                    <h1>Skill Specialization</h1>
                                </div>
                                <a href="{% url 'specialization' %}" class="about-btn">
                                    <img src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="zoom-in">
                        <div class="about-profile-box info-box shadow-box h-full">
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <div class="inner-profile-icons shadow-box">
                                <a href="#">
                                    <i class="iconoir-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="iconoir-github"></i>
                                </a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>Stay With Me</h4>
                                    <h1>Profiles</h1>
                                </div>
                                <a href="{% url 'contact' %}" class="about-btn">
                                    <img src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-24">
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-client-box info-box shadow-box">
                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                    <div class="clients d-flex align-items-start gap-24 justify-content-center">
                        <div class="client-item">
                            <h1>{{about.experience}}+</h1>
                            <p>Years <br>Experience</p>
                        </div>
                        <div class="client-item">
                            <h1>+{{about.projects}}</h1>
                            <p>Total <br>Projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-contact-box info-box shadow-box">
                    <a class="overlay-link" href="{% url 'contact' %}"></a>
                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                    <img src="{% static 'images/icon2.png' %}" alt="Icon" class="star-icon">
                    <h1>Let's <br>Work <span>Together.</span></h1>
                    <a href="{% url 'contact' %}" class="about-btn">
                        <img src="{% static 'images/icon.svg' %}" alt="Button">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    swal('{{message}}', '{{message_ip}}\n{{message_device}}\n{{message_device_type}}\n{{message_city}}\n{{message_country}}\n{{message_browser_type}}\n{{message_browser_version}}\n{{message_os_type}}\n{{message_os_version}}');
</script>
{% endblock content %}