{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="service-area">
    <div class="container">
        <h1 class="section-heading" data-aos="fade-up"><img src="{% static 'images/star-2.png' %}" alt="Star"> My Offerings <img
                src="{% static 'images/star-2.png' %}" alt="Star"></h1>
        <div class="row">
            <div class="col-md-4">
                <div class="service-sidebar" data-aos="fade-right">
                    <div class="service-sidebar-inner shadow-box">
                        <ul>
                            {% for specialization in specializations %}
                            <li><i class="iconoir-dev-mode-laptop"></i>{{specialization.heading|upper}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="section-heading" data-aos="fade-up"><img src="{% static 'images/star-2.png' %}" alt="Star"> My
                    Offerings <img src="{% static 'images/star-2.png' %}" alt="Star"></h1>
                <div class="service-content-wrap" data-aos="zoom-in">
                    <div class="service-content-inner shadow-box">
                        <div class="service-items">
                            {% for specialization in specializations %}
                            <div class="service-item">
                                <h3>{{specialization.heading}}</h3>
                                <p>{{specialization.description}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-24">
            <div class="col-md-12">
                <div class="d-flex profile-contact-credentials-wrap gap-24">
                    <div data-aos="zoom-in">
                        <div class="about-profile-box info-box shadow-box h-full">
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <div class="inner-profile-icons shadow-box">
                                <a href="#">
                                    <i class="iconoir-dribbble"></i>
                                </a>
                                <a href="#">
                                    <i class="iconoir-twitter"></i>
                                </a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>Stay With Me</h4>
                                    <h1>Profiles</h1>
                                </div>
                                <a href="{% url 'contact' %}" class="about-btn">
                                    <img src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="flex-1">
                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="{% url 'contact' %}"></a>
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <img src="{% static 'images/icon2.png' %}" alt="Icon" class="star-icon">
                            <h1>Let's <br>Work <span>Together.</span></h1>
                            <a href="{% url 'contact' %}" class="about-btn">
                                <img src="{% static 'images/icon.svg' %}" alt="Button">
                            </a>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="h-full">
                        <div class="about-crenditials-box info-box shadow-box">
                            <a class="overlay-link" href="{% url 'credentials' %}"></a>
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <img src="{% static 'images/sign.png' %}" alt="Sign">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>More About Me</h4>
                                    <h1>Credentials</h1>
                                </div>
                                <a href="{% url 'credentials' %}" class="about-btn">
                                    <img src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}