{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content" data-aos="fade-up">
            <p>My Work Details</p>
            <h1 class="section-heading"><img src="{% static 'images/star-2.png' %}" alt="Star"> Details About The Project
                <br>{{work.name}}<img src="{% static 'images/star-2.png' %}" alt="Star"></h1>
        </div>
    </div>
</section>
<section class="project-details-wrap">
    <div class="container">
        <div data-aos="zoom-in">
            <div class="d-flex project-infos-wrap shadow-box mb-24">
                <img src="{% static 'images/bg.png' %}" alt="BG" class="bg-img">
                <img src="{% static 'images/icon2.png' %}" alt="Icon">
                <div class="project-details-info flex-1">
                    <h3>About</h3>
                    <p>{{work.about|linebreaksbr}}</p>
                </div>
                <div class="project-details-info flex-1">
                    <h3>Skills Used</h3>
                    <p>{{work.skill_description|linebreaksbr}}</p>
                </div>
            </div>
        </div>
        <div class="row mb-24">
            <div class="col-md-6" data-aos="zoom-in">
                <div class="project-details-3-img">
                    {% if work.image_1 %}
                    <img src="{{work.image_1.url}}" alt="Project">
                    {% else %}
                    <img src="{% static 'images/project.jpg' %}" alt="Project">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in">
                <div class="project-details-3-img">
                    {% if work.image_2 %}
                    <img src="{{work.image_2.url}}" alt="Project">
                    {% else %}
                    <img src="{% static 'images/project.jpg' %}" alt="Project">
                    {% endif %}
                </div>
            </div>
        </div>
        <div data-aos="zoom-in">
            <div class="project-about-2 d-flex shadow-box mb-24">
                <img src="{% static 'images/bg.png' %}" alt="BG" class="bg-img">
                <div class="left-details">
                    <img src="{% static 'images/icon3.png' %}" alt="Icon">
                    <ul>
                        <li>
                            <p>Year</p>
                            <h4>{{work.year}}</h4>
                        </li>
                        <li>
                            <p>Client</p>
                            <h4>{{work.client}}</h4>
                        </li>
                        <li>
                            <p>Services</p>
                            <h4>{{work.app_type}}</h4>
                        </li>
                    </ul>
                </div>
                <div class="right-details">
                    <h3>Description</h3>
                    <p>{{work.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center" data-aos="zoom-in">
        <a href="{% url 'works' %}" class="big-btn shadow-box">
            Back
        </a>
    </div>
</section>
{% endblock content %}